<p style="margin:0 0 10px;line-height:1.3em">
  Hi <%= @lead.first_name %>,
  <br><br>
  My name is Michael and I’m with Perspectivo. We are a new startup and we are building something cool and different: access to people’s wisdom and insight. We’ve been looking for people who have interesting content online and we found you! We’re only going to email you once.
  <br><br>
  It’s easy to find data, facts, and information. We’re looking for the unique experience people have gained throughout their lives. That experience can be extremely valuable for others who face new opportunities and challenges.
  <br><br>
  Our vision is unique: we want to make Perspectivo a place where people discover new and interesting possibilities or solutions. We want to give people a chance to learn from each other like never before. We can add flavor, innovation, and wisdom to all of our goals whether they are grandiose or mundane. Finally, we want to give people a way to give back through sharing what they’ve learned along the way.
  <br><br>
  So, up to this point, the site isn’t open to everyone but a select few. Soon, Perspectivo is going to be open to the whole world. You can be one of the first participants! You can get an early start! As the site gains recognition and popularity, it can help you receive additional, targeted traffic back to your site. But again, the greatest value is that you can help other people gain from your experience.
  <br><br>
  The site is invite only but you can consider yourself invited! Log in to Perspectivo[dot]com using this email address or let me know if you’d like to know more.
  <br><br>
  I’ll answer any question personally.
  <br><br>
  Kind Regards,
  <br><br>
  Michael

  <br>
</p>


This email was sent to <%= @lead.email %>.

