<p style="margin:0 0 10px;line-height:1.3em">
  Hi <%= @lead.first_name %>,
  <br><br>
  My name is Michael and I represent Perspectivo - a cool new startup that's about to bring something different to the masses – access to other's experience.We have been searching for people with interesting content online and we decided to reach out to you. We’ll only email you this one time.
  <br><br>
  At Perspectivo we aren’t looking for facts and data – that's easy to find today; we're targeting people's' hard-earned experience which is highly valuable to those who face unfamiliar problems or new opportunities.
  <br><br>
  At this stage, Perspectivo is only open to a selected few, but down the line, it will be open to the world. The advantage of being an early participant is that you will receive a head start in gaining recognition and targeted traffic as the site gains popularity. But equally important is the fact that you will help others who will put your experience to good use.
  <br><br>
  If you're interested, please get back to me and I will be happy to tell you more about our new concept and send you the access details to our website, which is currently an invite-only site.
  <br><br>
  I look forward to hearing from you.
  <br><br>
  Cheers,
  <br><br>
  Michael

  <br>
</p>


This email was sent to <%= @lead.email %>.

